{{#if template}}
<template>
  <div class="container">
      
  </div>
</template>
{{/if}}

{{#if script}}
<script>
  export default {
    name: '{{ properCase name }}',
    props: {},
    data() {
      return {}
    },
    created() { },
    mounted() { },
    filters: {},
    computed: {},
    methods: {},
    directives: {},
    watch: {},
    components: {}

  }
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped>

</style>
{{/if}}