#Layout {
    width: 100%;
    height: 100%;

    #SideBar {
        width: $sideBarWidth;
        height: 100%;
        float: left;
        background-color: $menuBg;

        .brand {
            width: 100%;
            height: $navBarHeight;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .el-scrollbar {
            height: 100%;

            .el-scrollbar__wrap {
                overflow-x: hidden;
            }
        }

        .el-menu {
            height: 100%;
            border: none;

        }
    }

    #NavBar {
        width: calc(100% - #{$sideBarWidth});
        height: $navBarHeight;
        flex-grow: 1;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        float: left;
        background-color: #2A3542;

        .el-breadcrumb {
            padding: 0 10px;
        }

        .navbar-info {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            em {
                font-style: normal;
            }
        }
    }

    #TagsView {
        width: calc(100% - #{$sideBarWidth});
        height: $tagsViewHeight;
        display: flex;
        align-items: center;
        background-color: $tagsViewBg;
        box-sizing: border-box;
        float: left;

        .tags-view-wrapper {
            .tags-view-item {
                display: inline-block;
                position: relative;
                cursor: pointer;
                height: 26px;
                line-height: 26px;
                border: 1px solid #d8dce5;
                color: $tagsViewItemColor;
                background: $tagsViewItemBg;
                padding: 0 8px;
                font-size: 12px;
                margin-left: 5px;
                margin-top: 4px;

                .el-icon-close {
                    width: 16px;
                    height: 16px;
                    vertical-align: 2px;
                    border-radius: 50%;
                    text-align: center;
                    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transform-origin: 100% 50%;

                    &:before {
                        transform: scale(0.6);
                        display: inline-block;
                        vertical-align: -3px;
                    }

                    &:hover {
                        background-color: #b4bccc;
                        color: #fff;
                    }
                }

                &:first-of-type {
                    margin-left: 15px;
                }

                &:last-of-type {
                    margin-right: 15px;
                }

                &.active {
                    background-color: $tagsViewActiveBg;
                    color: $tagsViewActiveColor;
                    border-color: $tagsViewActiveBg;

                    &::before {
                        content: "";
                        background: #fff;
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: relative;
                        margin-right: 2px;
                    }
                }
            }
        }

        .contextmenu {
            margin: 0;
            background: #fff;
            z-index: 3000;
            position: absolute;
            list-style-type: none;
            padding: 5px 0;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 400;
            color: #333;
            box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
            margin-left: $sideBarWidth;

            li {
                margin: 0;
                padding: 7px 16px;
                cursor: pointer;

                &:hover {
                    background: #eee;
                }
            }
        }
    }

    #AppMain {
        width: calc(100% - #{$sideBarWidth});
        height: calc(100% - #{$navBarHeight + $tagsViewHeight});
        float: left;

        .el-scrollbar {
            height: 100%;

            .el-scrollbar__wrap {
                overflow-x: hidden;
            }
        }

        .container {
            height: 100%;
        }

        .filterBar {
            display: flex;
            padding: 10px 5px;
            border-bottom: 1px solid $borderBaseColor;

            .handle-block {
                flex-grow: 1;

            }

            .search-block {
                flex-grow: 0;
            }

            .extend-block {
                flex-grow: 0;

                .el-button {
                    padding-left: 10px;
                    padding-right: 10px;

                    &:first-child {
                        margin-left: 15px;
                    }
                }
            }

            .el-button,
            .el-input__inner,
            .el-input-group__append {
                border-radius: 0;
            }

            .el-input-group__append {
                padding: 0 10px;
            }



        }

        .pagination-container {
            margin-top: 30px;
        }
    }
}